h1 {
    color: #0099ff;
}

body {
    background-color: #9BC1F2;
}

img {
    position: relative;
}

p {
    font-weight: bolder;
    float: right;
    text-shadow: 1px 1px 1px #0099ff;
}

.container {
    display: grid;
    grid-template-columns: 4.9fr 0.6fr 1fr 1.1fr 0.9fr;
    grid-template-rows: 0.5fr 1fr 0.6fr 1.4fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "title- title- title- title- title-"
        "paragraph image image image image"
        "paragraph image image image image"
        "recipe image image image image"
        "footer footer footer footer footer";
}

.title- {
    grid-area: title-;
}

.paragraph {
    grid-area: paragraph;
}

.image {
    grid-area: image;
}

.footer {
    grid-area: footer;
}

.recipe {
    grid-area: recipe;
}
li{
   font-family: Arial, Helvetica, sans-serif;
   color: #1D4076;
}
.topnav{
    background-color: #1D4076;
    overflow: hidden;
}
/* style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #C9D3F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of the links on hover */ 
.topnav a:hover {
    background-color: #405B73;
    color: aliceblue;
}

/* add a color to the active/ current link */ 
.topnav a.active {
    background-color: #6698D9;
    color: #9BC1F2;
}