h1 {
    color: #0099ff;
}

body {
    background-color: #9BC1F2;
}

img {
    position: relative;
}

p {
    font-weight: bolder;
    float: right;
    text-shadow: 1px 1px 1px #0099ff;
}

.container {
    display: grid;
    grid-template-columns: 4.9fr 0.6fr 1fr 1.1fr 0.9fr;
    grid-template-rows: 0.5fr 1fr 0.6fr 1.4fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "title- title- title- title- title-"
        "paragraph image image image image"
        "paragraph image image image image"
        "recipe image image image image"
        "footer footer footer footer footer";
}

.title- {
    grid-area: title-;
}

.paragraph {
    grid-area: paragraph;
}

.image {
    grid-area: image;
}

.footer {
    grid-area: footer;
}

.recipe {
    grid-area: recipe;
}
li{
   font-family: Arial, Helvetica, sans-serif;
}